
<div class="sign-up-min">
    <div class="sign-up ">
        <div class="sign-up--cont  set-new-password-container">
            <form>
                <div class="sign-up--title">Reset password</div>
                <div class="form-group">
                    <input name="password" id="password" class="new-password form-control" type="password" maxlength="255" placeholder="Password" data-rule-minlength="6" data-rule-maxlength="255" data-rule-required="true" data-msg-required="Please, enter your password here." />
                </div>
                <div class="form-group">
                    <input name="password_confirm" class="new-password-confirm form-control" type="password" placeholder="Password one more time"   data-rule-required="true" data-msg-required="Please, enter your password here."/>
                    <div class="has-error--text">Error description: Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. </div>
                </div>
                
                <button class="btn-lg_size_lg btn-default total-width update-password">Set new password!</button>
            </form>
        </div>
    </div>
</div>


<!-- <div class="footer-small clearfix">
    <div class="footer-small--cont clearfix">
      <div class="footer-small--copi">® Giggster. Made in Venice, CA <span class="footer-simple--icon icon-ic_california"></span></div>
      <div class="menu-simple">
        <div class="menu-simple--item">
          <a href="#" class="menu-simple--link">About</a>
        </div>
        <div class="menu-simple--item">
          <a href="#" class="menu-simple--link">Terms &amp; Privacy</a>
        </div>
        <div class="menu-simple--item">
          <a href="#" class="menu-simple--link">Contact Us</a>
        </div>
      </div>
    </div>
</div> -->





<!--

<div class="sign-manually">
    <p class="sign-manually--title">Sign up with your email</p>
    <div class="row clearfix">
        <div class="login-form-container col-md-6 sign-manually--col">
            <form>
                <div class="form-group">
                    <input class="login-email form-control" type="text" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input class="login-password form-control" type="password" placeholder="Password" />
                </div>
                <div class="has-error--text">Error description: Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. </div>
                <div class="clearfix">
                    <button class="sign-in-btn btn btn-lg_size_lg btn-default">Sign In</button>
                    <button class="sign-up-btn btn btn-simple">Sign Up</button>
                </div>
            </form>
            <div class="delimiter-or"></div>
        </div>
        <div class="col-md-6 sign-manually--col">
            <div class="form-group">
                <a href="#" class="btn btn-lg_size_lg total-width btn-fb">Sign up with Facebook</a>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-lg_size_lg total-width btn-tw">Sign up with Twitter</a>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-lg_size_lg total-width btn-gp">Sign up with Google+</a>
            </div>
        </div>

    </div>
</div>

-->