html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    background: #fafafa;
    color: #000;
}
.nav-container{
    background: #2A3F54;
    padding: 0;
    width: 230px;
}

//.main_container {
//    background-color: #2A3F54;
//}

.logo {
    background: url(../images/logo.svg) center no-repeat;
}