/*$primary-color: $primary-color;*/
$primary-color: #32BA55;
$secondary-color: #4a90e2;
$sub-color: #ff9600;
$error-color: #fe3824;

$border-color: #efeff4;

$light-color: #8f8e94;

$disabled-color: #EFEFF4;

$main-bg: #fafafa;

$main-font: 'Avenir';
$bold-font: 'Avenir Book';

$margin_right_of_10:2.6%;